.msg{
    padding: 10px 20px;
    margin-right: 10px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.649);
    display: block;
    float: right;
    border-radius: 7px;
    transition: ease-in 0.5s;
    position: absolute;
    bottom: 10px;
    right: 10px;
    &.error{
        background: rgb(201, 2, 2);
        color: white;
    }
    &.success{
        background: rgb(0, 169, 0);
        color: white;
    }
    &.info{
        background: rgb(0, 85, 169);
        color: white;
    }
    &.hide{
        opacity: 0;
    }
}